.heading {
    font-size: 20px;
    box-shadow: 5px 5px 18px grey;
}

.note {
    font-size: 15px;
    color: indigo;
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    background-color: aliceblue;
    box-shadow: 5px 5px 18px grey;
    text-align: center;
    width: 100%;
    color: black;
    line-height: 3;
}

body {
    background-size: cover;
}